bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
*.ipr
*.iws
/dist/
.cache
.idea
/precompiled
/.classpath
/.project
/.settings
/eclipse
*.DS_Store
*.pyc
ajcore.*
/dump.rdb
/out/
